package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import com.baomidou.mybatisplus.mapper.BaseMapper;
import com.zl.sp.common.MyBatisDao;
/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
 @MyBatisDao
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}